@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face {
    font-family: "Prof";
    src: url(../fonts/profile.otf);
}


#page {
    background: rgba(0, 0, 0, 0.75);   
}

#page img {
    width: 120px; 
    height: 150px;
    float: left;
}

.login {
    float: left;
    font-family: 'Prof', sans-serif;
    font-size: 25px;
    color: white;
    margin: 4px 20px;
}

#page form {
    float: left;
    margin-top: 35px;
    margin-left: -142px;
}

#page form input {
    margin-left: 20px;
}